<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id column="member_no" property="memberNo"/>
		<result column="member_id" property="memberId"/>
		<result column="member_pwd" property="memberPwd"/>
		<result column="member_name" property="memberName"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_createdt" property="memberCreateDt"/>
		<result column="member_link" property="memberLink"/>
		<result column="report_count" property="reportCount"/>
		<result column="member_status" property="memberStatus"/>
		<result column="member_profile" property="memberProfile"/>
		<result column="partner_join" property="partnerJoin"/>
		<result column="partner_name" property="partnerName"/>
		<result column="partner_intro" property="partnerIntro"/>
	</resultMap>
	  
  	<select id="loginMember" resultMap="memberResultSet" parameterType="Member">
  		  
  		select
  		       member_no
  		     , member_id
  		     , member_pwd
  		     , member_name
  		     , member_phone
  		     , member_createdt
  		     , member_link
  		     , report_count
  		     , member_status
  		     , member_profile
  		     , partner_join
  		     , partner_name
  		     , partner_intro
  		  from member
  		 where member_status = 'Y'
  		   and member_id = #{memberId}
  		   and member_pwd = #{memberPwd}
  		
  	</select>
  	
  	
  	
  
  
</mapper>
